<script lang="ts">
	// eslint-disable-next-line @conarti/feature-sliced/layers-slices
	import { page } from '$app/stores'

	export let todo: string
</script>

<div aria-current={$page.url.pathname === '/'} class="">
	{todo}
</div>

<style lang="postcss">
	div[aria-current='true'] {
		@apply bg-slate-200;
	}
</style>
