<script lang="ts">
	import { getTodos } from '$features/Todo/getTodos'
	import Todo from '$entities/Todo/Todo.svelte'

	const query = getTodos()
</script>

<div>
	{#if $query.isLoading}
		<p>Loading...</p>
	{:else if $query.isError}
		<p>Error: {$query.error.message}</p>
	{:else if $query.isSuccess}
		{#each $query.data as todo}
			<Todo todo={todo.todo}></Todo>
		{/each}
	{/if}
</div>
